/* index.css */
@keyframes moveBackground {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .animate-move-bg {
    background: linear-gradient(270deg, #1a5f, purple);
    background-size: 400% 400%;
    animation: moveBackground 15s ease infinite;
  }
  
  .bg-overlay {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
  }
  